<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.backend.simulation.mapper.QuotesMapper">

    <resultMap id="QuotesDailyMap" type="com.shinhan.backend.simulation.domain.QuotesDaily">
        <result column="date"        property="date"/>
        <result column="fx_rate"     property="fxRate"/>
        <result column="vix"         property="vix"/>
        <result column="etf_volume"  property="etfVolume"/>
        <result column="gold_close"  property="goldClose"/>
    </resultMap>

    <select id="selectQuotes" resultMap="QuotesDailyMap">
        SELECT
            DATE_FORMAT(`Date`, '%Y-%m-%d') AS date,
            FX_RATE      AS fx_rate,
            VIX          AS vix,
            ETF_VOLUME   AS etf_volume,
            KRW_G_CLOSE  AS gold_close,
            NULL         AS pred_close
        FROM QUOTES_DAILY
        WHERE `Date` BETWEEN #{startDate} AND #{endDate}
        ORDER BY `Date` ASC
    </select>
</mapper>